ErrorDocument 404 %{HTTP_HOST}/404

RewriteEngine On
RewriteRule ^index?$    index.php     [L]
RewriteRule ^contact?$    contact.php     [L]
RewriteRule ^search?$    products.php     [L,QSA]
RewriteRule ^cart?$    cart.php     [L]
RewriteRule ^checkout?$    checkout.php     [L]
RewriteRule ^thank-you?$    thank-you.php     [L,QSA]
RewriteRule ^register?$    register.php     [L]
RewriteRule ^login?$    login.php     [L,QSA]
RewriteRule ^login/([^/\.]+)/?$    login.php?ref=$1     [L]
RewriteRule ^logout?$    logout.php     [L]
RewriteRule ^logout/([^/\.]+)/?$    logout.php?ref_page=$1     [L]
RewriteRule ^my-account?$   my-account.php     [L]
RewriteRule ^about?$    about.php     [L]
RewriteRule ^privacy?$    privacy.php     [L]
RewriteRule ^services?$    services.php     [L]
RewriteRule ^faqs?$    faqs.php     [L]
RewriteRule ^wishlists?$    wishlists.php     [L]
RewriteRule ^order-history?$    order-history.php     [L]
RewriteRule ^404?$    404.php     [L]
RewriteRule ^ajax?$    ajax.php     [L]
RewriteRule ^all-products?$    all-products.php     [L]
RewriteRule ^page/([^/\.]+)/?$    page2.php?page=$1     [L,QSA]
RewriteRule ^details/([^/\.]+)/([0-9]+)/?$    details.php?main=$1&prid=$2     [L,QSA]
RewriteRule ^products/([^/\.]+)/([^/\.]+)/?$    products.php?main=$1&subfilter=$2     [L,QSA]
RewriteRule ^products/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$    products.php?main=$1&sub=$2&subfilter=$3     [L,QSA]
RewriteRule ^products/([^/\.]+)/([^/\.]+)/([^/\.]+)/([0-9]+)/([^/\.]+)/([0-9]+)/?$    products.php?main=$1&sub=$2&subfilter=$3&sort=$4&brand=$5&page=$6     [L,QSA]